/* VARIABLES */

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
);

// colors
$white: #fff;
$black: #000;
$gray: #9b9b9b;
$light-gray: #f9f8f7;
$body-gray: #d8d8d8;
$body-color: #323031;
$green: #32bc6a;
$green-hover: #35d275;
$blue: #3452ff;
$light-blue: #32a3bc;
$dark-blue: #063e49;
$red: #dc3545;
$pink: #ff1053;
$bg-dark: #323031;
