// Footer

.site-footer {
  padding: 50px 0 30px;
  background-color: #0f1520;
  background-image: url(../img/footer-flourish.png);
  background-position: bottom right;
  background-repeat: no-repeat;
  background-size: auto 300px;
  color: #b5bfcb;
}
.site-footer a {
  color: #b5bfcb;
}
.footer-title {
  margin: 30px 0 1em;
  font-size: 1.1em;
  font-weight: bold;
  color: #fff;
}
.lower-footer {
  margin-top: 50px;
}
.lower-footer .top-border {
  border-top: 1px solid #54595f;
  padding-top: 30px;
  padding-bottom: 0px;
}
.copyright {
  text-align: center;
  font-size: 15px;
}

@media (min-width: 700px) {
  .site-footer {
    padding: 90px 0 50px;
  }
  .footer-title {
    margin-top: 0;
  }
  .footer-logo,
  .socials.in-footer {
    padding-right: 30px;
  }
  .lower-footer .top-border {
    padding-top: 40px;
    padding-bottom: 10px;
  }
}

/* Title Divider  */
.fearless-divider {
  margin: 0 0 50px;
  width: 100%;
  position: relative;
  height: 10px;
  background-image: url(/img/fearless-divider.png);
  background-size: auto 100%;
  background-position: center center;
  background-repeat: no-repeat;
}
.fearless-divider.on-left {
  background-position: left center;
}

@media (min-width: 700px) {
  .fearless-divider {
    height: 13px;
  }
}
