// Header

.site-header {
  position: absolute;
  width: 100%;
  top: 56px;
  left: 0;
  z-index: 10;
}
.top-header {
  padding: 10px 0;
  position: relative;
  z-index: 101;
}
.top-header > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.logo {
  width: 66%;
  margin-right: auto;
  max-width: 260px;
}
.logo img {
  display: block;
  width: 100%;
}
.logo .black-logo {
  display: none;
}
body.nav-open .logo .black-logo {
  display: block;
}
body.nav-open .logo .white-logo {
  display: none;
}
.search-n-socials {
  display: none;
}
.bottom-header {
}
.desktop-nav {
  display: none;
}
.two-menus {
  display: none;
}

@media (min-width: 1000px) {
  .top-header {
    padding: 20px 0;
  }
  .search-n-socials {
    display: flex;
    align-items: center;
  }
  .desktop-nav {
    display: block;
  }
  .two-menus {
    display: block;
    margin-left: auto;
  }
}
@media (min-width: 1100px) {
  .site-header {
    top: 44px;
  }
}

.menu-toggle {
  margin-left: auto;
  position: relative;
  height: 30px;
  width: 88px;
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
  z-index: 10;
  display: block;
  color: #fff;
  text-align: right;
  font-size: 18px;
  font-weight: 700;
}

.menu-toggle.open .menu-slice:after,
.menu-toggle.open .menu-slice:before {
  background: #fff;
}

.menu-toggle .menu-slice {
  width: 28px;
  height: 2px;
  margin-top: -1px;
  position: absolute;
  top: 48%;
  left: 0;
  display: block;
  background-color: #fff;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.menu-toggle .menu-slice:before {
  -webkit-transform: translateY(-400%);
  transform: translateY(-400%);
}

.menu-toggle .menu-slice:after {
  -webkit-transform: translateY(400%);
  transform: translateY(400%);
}

.menu-toggle .menu-slice:after,
.menu-toggle .menu-slice:before {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0;
  background-color: #fff;
  content: '';
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.menu-toggle .menu-slice:after {
  width: 50%;
}
.menu-toggle .menu-slice:before {
  width: 75%;
}

.menu-toggle.open .menu-slice:before {
  -webkit-transform: translateY(0) rotate(45deg);
  transform: translateY(0) rotate(45deg);
}

.menu-toggle.open .menu-slice:after {
  -webkit-transform: translateY(0) rotate(-45deg);
  transform: translateY(0) rotate(-45deg);
  width: 100%;
}

.menu-toggle.open .menu-slice {
  background-color: transparent !important;
}

body.nav-open .menu-toggle .menu-slice,
body.nav-open .menu-toggle .menu-slice:after,
body.nav-open .menu-toggle .menu-slice:before {
  background-color: #000;
}
body.nav-open .menu-toggle {
  color: #000;
}
body.nav-open .menu-toggle .menu-slice:before {
  width: 100%;
}

@media (min-width: 1000px) {
  .menu-toggle {
    display: none;
  }
}
