/* File for Custom Temporary CSS Fixes */
/*********/
/* Please add comments for each fix */

/* Pagination on the search results page (This is all NEW) */
.pager {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
}
ul.pager__items {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
  list-style: none;
  padding: 20px 0;
}
ul.pager__items li {
  margin: 0;
  padding: 0;
}
ul.pager__items li a {
  display: block;
  padding: 8px 12px;
  line-height: 1;
}
li.pager__item.is-active a {
  background: #e5e5e5;
}

/* This is NEW  */
.block-layout-builder.block--content {
  margin-bottom: 30px;
}

/* This is existing for the .card__media in the min-width media query */
@media (min-width: 700px) {
  .card__media {
    max-width: 250px;
  }
}

/* This is the existing hover-box for the homepage and it's NEW: you don't need to add it to existing classes  */
.hover-box:hover {
  opacity: 1;
}
.hover-box:hover:after {
  content: "";
  position: absolute;
  top: -3px;
  left: -3px;
  bottom: -3px;
  right: -3px;
  background: rgb(15 21 32 / 63%);
  z-index: 1;
}

/* This is modifying the existing card content  */
.rounded-card .card-grid-item__content {
  font-size: 1em;
}

/* Global Adjustment to make  */
strong {
  font-weight: 600;
}
