/* Profiles Slider  */

.section-profiles {
  padding: 120px 0;
  background-color: #f5f5f5;
}
.profiles-carousel {
  width: 100%;
  padding-bottom: 50px;
}
.profiles-carousel .slide-image {
  border-radius: 100%;
  border: 2px solid #e32237;
  padding: 9px;
  display: block;
  margin: 0 auto 20px;
  max-width: 185px;
}
figure.item-inner {
  margin: 0 auto;
  padding: 15px;
}
.profiles-carousel figcaption {
  font-size: 23px;
  color: #000;
  line-height: 1.4;
  text-align: center;
  font-family: 'Crimson Text', Georgia, 'Times New Roman', Times, serif;
}
.owl-item:not(.center) figcaption {
  visibility: hidden;
}

@media screen and (max-width: 700px) {
  .section-profiles {
    padding: 80px 0;
  }
}

// Page
.view-profile-showcase.view-display-id-page {
  padding-top: 50px;
}
