/* Form */

// General forms
form.bsos-form:not(.layout-builder-form) {
  padding: 60px 0;
  margin: 0 auto;
  max-width: 500px;
}

form.bsos-form {
  #edit-name--description,
  #edit-pass--description {
    font-size: 14px;
  }
}

form.bsos-form {
  .form-item {
    margin-bottom: 20px;
  }
}

// Search form
form#search-form {
  max-width: 560px;
  width: 96%;
  margin: 20px auto 40px;
  padding: 10px 30px;
  background: #f4f4f4;
  border-radius: 5px;
}
#search-form .form-wrapper {
  display: flex;
}
#search-form input[type='submit'] {
  align-self: center;
  margin-top: 21px;
}
#search-form label[for='edit-keys'] {
  font-size: 16px;
}
#search-form .search-help-link {
  font-size: 12px;
}
