// Social Icons

.socials.in-footer {
  padding-top: 30px;
}
.socials ul {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
  justify-content: space-between;
}
.socials a {
  display: block;
}
.socials svg {
  width: 18px;
  height: 18px;
  margin: 0 5px;
  fill: #fff;
  display: block;
}
.socials.in-header a {
  padding: 6px;
}
.socials.in-header svg {
  fill: rgb(255 255 255 / 51%);
}
.socials.in-header a:hover svg {
  fill: #fff;
}
