{% if level == 1 %}
  <div {{ attributes.addClass('desktop-dropdown') }}>
    <div class="mega-dropdown-inner desktop-dropdown-inner">
      {% for row in rows %}
        {{ row }}
      {% endfor %}
    </div>
  </div>
{% else %}
  {% for row in rows %}
    {{ row }}
  {% endfor %}
{% endif %}

