{# Content with Sidebar Layout #}

<section class="basic-page-builder">

  <div class="flex-container">

    <div class="sidebar">{{ content.first }}</div>

    <div class="main-content">{{ content.second }}</div>

  </div>

</section>
