{# Two Column Overview Page Layout #}

<section class="overview-grid">
  <div class="container">
    <div class="grid-row sm-two-col gap-30">
      {# first #}
      {{ content.first }}
      {# second #}
      {{ content.second }}
    </div>
  </div>
</section>
